<section class="section" id="faq">
  <div class="container accordion-container">
    <h3 class="faq-logo">FAQ</h3>
    <ul class="faq-accordion accordion-styl">
      <li class="ac-item ac ac-item-border">
        <div class="ac-box ac-header">
          <h3 class="faq-heder">
            What programming languages ​​are most often used in your project?
          </h3>
          <button class="ac-trigger" type="button">
            <svg class="icon-arrow">
              <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel">
          <div class="faq-panel-summary ac-panel">
            <p class="ac-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </div>
      </li>
      <li class="ac-item ac ac-border ac-item-border">
        <div class="ac-box ac-header">
          <h3 class="faq-heder faq-heder-border">
            What are the deadlines for the project?
          </h3>
          <button class="ac-trigger" type="button">
            <svg class="icon-arrow">
              <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel">
          <div class="faq-panel-summary ac-panel faq-margin">
            <p class="ac-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </div>
      </li>
      <li class="ac-item ac">
        <div class="ac-box ac-header">
          <h3 class="faq-heder">What payment methods do you accept?</h3>
          <button class="ac-trigger" type="button">
            <svg class="icon-arrow">
              <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel">
          <div class="faq-panel-summary ac-panel">
            <p class="ac-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </div>
      </li>
      <li class="ac-item ac ac-border">
        <div class="ac-box ac-header">
          <h3 class="faq-heder faq-heder-border">How can I contact you?</h3>
          <button class="ac-trigger" type="button">
            <svg class="icon-arrow">
              <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel">
          <div class="faq-panel-summary ac-panel faq-margin">
            <p class="ac-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </div>
      </li>
      <li class="ac-item ac">
        <div class="ac-box ac-header">
          <h3 class="faq-heder">Do you provide advice or support?</h3>
          <button class="ac-trigger" type="button">
            <svg class="icon-arrow">
              <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel">
          <div class="faq-panel-summary ac-panel">
            <p class="ac-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </div>
      </li>
      <li class="ac-item ac ac-border">
        <div class="ac-box ac-header">
          <h3 class="faq-heder faq-heder-border">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button class="ac-trigger" type="button">
            <svg class="icon-arrow">
              <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel">
          <div class="faq-panel-summary ac-panel faq-margin">
            <p class="ac-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
