<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="logo"
        ><img src="../img/image.png" alt="logo" width="80" height="80" />
        <span class="logo-text">jefferson*</span></a
      >
      <div class="header-menu-wrap">
        <span>Menu</span>
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#aboutme">About me</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#benefits">Benefits</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#projects">Projects</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </div>
      <a class="header-order-btn" href="#work-together">Order the project</a>
      <button type="button" class="hero-btn-mob">
        <svg
          class="icon-open-btn"
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.5 9.91666H24.5M3.5 18.0833H24.5"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </nav>
  </div>
</header>
