<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="logo"
        ><img
          srcset="./img/images/logo.png 1x, ./img/images/logo-2x.png 2x"
          src="./img/images/logo.png"
          alt="logo"
          width="80"
          height="80"
        />
        <span class="logo-text">jefferson*</span></a
      >
      <div class="header-menu-wrap">
        <span>Menu</span>
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#about-me">About me</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#benefits">Benefits</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#projects">Projects</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </div>
      <a class="header-order-btn" href="#work-together">Order the project</a>
      <button type="button" class="hero-btn-mob">
        <svg class="icon-open-menu">
          <use href="./img/icons/sprite.svg#icon-menu-btn"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
