<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      HELLO.<br />I'M FULLSTACK DEVELOPER LLOYD JEFERSON.
    </h1>
    <ul class="hero-list">
      <li class="hero-item">
        <a
          href="https://www.instagram.com/goitclub/"
          rel="noopener noreferrer"
          target="_blank"
          class="hero-link"
          >IG</a
        >
      </li>
      <li class="hero-item">
        <a
          href="https://www.facebook.com/goITclub/"
          rel="noopener noreferrer"
          target="_blank"
          class="hero-link"
          >FB</a
        >
      </li>
      <li class="hero-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          rel="noopener noreferrer"
          target="_blank"
          class="hero-link"
          >YT</a
        >
      </li>
      <li class="hero-item">
        <a
          href="https://melodiam16.github.io/team-project-portfolio/"
          rel="noopener noreferrer"
          target="_blank"
          class="hero-link"
          >GH</a
        >
      </li>
      <li class="hero-list-mail">
        <a
          href="mailto:info@goit.ua"
          rel="noopener noreferrer"
          class="hero-link-mail"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
