<div class="mob-nav">
  <div class="header-close-btn">
    <svg
      class="icon-close-btn"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M21 7L7 21"
        stroke="#FAFAFA"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M7 7L21 21"
        stroke="#FAFAFA"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <ul class="header-menu-list">
    <li class="header-menu-item">
      <a class="header-menu-link" href="#aboutme">About me</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-link" href="#benefits">Benefits</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-link" href="#projects">Projects</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-link" href="#faq">FAQ</a>
    </li>
  </ul>
  <div class="mob-nav-btn">
    <a class="header-order-btn" href="#worktogether">Order the project</a>
  </div>
</div>
