<div class="mob-nav">
  <div class="header-close-btn">
    <svg class="icon-close-menu">
      <use href="/img/icons/sprite.svg#icon-x"></use>
    </svg>
  </div>
  <ul class="header-menu-list">
    <li class="header-menu-item">
      <a class="header-menu-link" href="#about-me">About me</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-link" href="#benefits">Benefits</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-link" href="#projects">Projects</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-link" href="#faq">FAQ</a>
    </li>
  </ul>
  <div class="mob-nav-btn">
    <a class="header-order-btn" href="#work-together">Order the project</a>
  </div>
</div>
