<div class="modal-overlay" data-modal-window>
  <div class="backdrop">
    <button type="button" class="backdrop-close-btn" data-menu-close>
      <svg class="menu-close-icon" aria-label="menu-close">
        <use href="./img/icons/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="backdrop-text-wrap">
      <h2 class="backdrop-heading-text">
        Thank you for your interest in cooperation!
      </h2>
      <p class="backdrop-main-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
