<section class="projects-container" id="id-projects">
    <div class="container">
        <h2 class="projects">Projects</h2>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <ul class="project-box">
                        <li class="wrap_1">
                            <div class="wrap_text">
                                <p class="react text">#react</p>
                                <p class="js text">#js</p>
                                <p class="node text">#node js</p>
                                <p class="git text">#git</p>
                            </div>
                            <h3 class="title">
                                Programming Across Borders: Ideas, Technologies, Innovations
                            </h3>

                            <a class="btn" href="https://github.com/melodiam16/team-project-portfolio"
                                target="_blank">See
                                project</a>
                        </li>
                        <li class="wrap_2">
                            <picture>
                                <source srcset="
                                                ./img/images/new-phone-tab-2x.jpg 2x,
                                                ./img/images/new-phone-tab-1x.jpg    1x
                                              " media="(min-width: 768px)" />
                                <source srcset="
                                                ./img/images/new-phone-mob-2x.jpg 2x,
                                                ./img/images/new-phone-mob-1x.jpg    1x
                                              " media="(min-width: 320px)" />
                                <img class="project-img" src="./img/images/new-phone-2x.jpg" alt="Phone" width="311"
                                    height="195" />
                            </picture>
                        </li>
                    </ul>

                    <!-- <div class="wrap_1"> -->

                    <!-- </div> -->
                    <!-- <div class="wrap_2"> -->

                    <!-- </div> -->
                </li>
                <li class="swiper-slide">

                    <ul class="project-box">
                        <li class="wrap_1">
                            <div class="wrap_text">
                                <p class="react text">#react</p>
                                <p class="js text">#js</p>
                                <p class="node text">#node js</p>
                                <p class="git text">#git</p>
                            </div>
                            <h3 class="title">
                                Programming Across Borders: Ideas, Technologies, Innovations
                            </h3>

                            <a class="btn" href="https://github.com/melodiam16/team-project-portfolio"
                                target="_blank">See
                                project</a>
                        </li>
                        <li class="wrap_2">
                            <picture>
                                <source srcset="
                                                                    ./img/images/new-dog-tab-2x.jpg 2x,
                                                                    ./img/images/new-dog-tab-1x.jpg    1x
                                                                  " media="(min-width: 768px)" />
                                <source srcset="
                                                                    ./img/images/new-dog-mob-2x.jpg 2x,
                                                                    ./img/images/new-dog-mob-1x.jpg    1x
                                                                  " media="(min-width: 320px)" />
                                <img class="project-img" src="./img/images/new-dog-2x.jpg" alt="Phone" width="311"
                                    height="195" />
                            </picture>
                        </li>
                    </ul>
                </li>
                <li class="swiper-slide">

                    <ul class="project-box">
                        <li class="wrap_1">
                            <div class="wrap_text">
                                <p class="react text">#react</p>
                                <p class="js text">#js</p>
                                <p class="node text">#node js</p>
                                <p class="git text">#git</p>
                            </div>
                            <h3 class="title">
                                Programming Across Borders: Ideas, Technologies, Innovations
                            </h3>

                            <a class="btn" href="https://github.com/melodiam16/team-project-portfolio"
                                target="_blank">See
                                project</a>
                        </li>
                        <li class="wrap_2">
                            <picture>
                                <source srcset="
                                                                    ./img/images/new-people-tab-2x.jpg 2x,
                                                                    ./img/images/new-people-tab-1x.jpg    1x
                                                                  " media="(min-width: 768px)" />
                                <source srcset="
                                                                    ./img/images/new-people-mob-2x.jpg 2x,
                                                                    ./img/images/new-people-mob-1x.jpg    1x
                                                                  " media="(min-width: 320px)" />
                                <img class="project-img" src="./img/images/new-people-2x.jpg" alt="Phone" width="311"
                                    height="195" />
                            </picture>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="wrap-btn">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>

</section>