<section id="projects" class="container">
    <div class="page-projects">
        <h2 class="projects-title">Project</h2>
        <div class="scwiper-container-pr">
            <div class="scwiper-pr">
                <ul class="projects-list scwiper-wrapper">
                    <li class="scwiper-slide projects-slide">
                        <div class="projects-items">
                            <div class="projects-container">
                                <ul class="projects-tech">
                                    <li class="projects-tech-items">
                                        <p>#react</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#js</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#node js</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#git</p>
                                    </li>
                                </ul>
                                <div class="projects-list-text">
                                    <p>Programming Across</p>
                                    <p>Borders: Ideas,</p>
                                    <p>Technologies, Innovations</p>
                                </div>
                                <a class="see-project" href="https://github.com/melodiam16/team-project-portfolio">See
                                    project</a>
                            </div>
                            <div class="projects-picture">
                                <picture>
                                    <source media="(min-width: 768px)" width="614" height="385" srcset="
                      ./img/images/new-phone-tab-1x.jpg 1x,
                      ./img/images/new-phone-tab-2x.jpg 2x
                    " />
                                    <source media="(max-width: 360px)" width="311" height="195" srcset="
                      ./img/images/new-phone-mob-1x.jpg    1x,
                      ./img/images/new-phone-mob-2x.jpg 2x
                    " />
                                    <img class="projects-img" src="./img/images/new-phone-2x.jpg"
                                        alt="Phone" />
                                </picture>
                            </div>
                        </div>
                    </li>
                    <li class="scwiper-slide projects-slide">
                        <div class="projects-items">
                            <div class="projects-container">
                                <ul class="projects-tech">
                                    <li class="projects-tech-items">
                                        <p>#react</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#js</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#node js</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#git</p>
                                    </li>
                                </ul>
                                <div class="projects-list-text">
                                    <p>Programming Across</p>
                                    <p>Borders: Ideas,</p>
                                    <p>Technologies, Innovations</p>
                                </div>
                                <a class="see-project" href="https://github.com/melodiam16/team-project-portfolio">See
                                    project</a>
                            </div>
                            <div class="projects-picture">
                                <picture>
                                    <source srcset="
                      ./img/images/new-dog-tab-1x.jpg 1x,
                      ./img/images/new-dog-tab-2x.jpg 2x
                    " width="614" height="385" media="(min-width: 768px)" />
                                    <source srcset="
                      ./img/images/new-dog-mob-1x.jpg  1x,
                      ./img/images/new-dog-mob-2x.jpg 2x
                    " width="311" height="195" media="(max-width: 360px)" />
                                    <img class="projects-imgg" src="./img/images/new-dog-2x.jpg"
                                        alt="dog-with" />
                                </picture>
                            </div>
                        </div>
                    </li>
                    <li class="scwiper-slide projects-slide">
                        <div class="projects-items">
                            <div class="projects-container">
                                <ul class="projects-tech">
                                    <li class="projects-tech-items">
                                        <p>#react</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#js</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#node js</p>
                                    </li>
                                    <li class="projects-tech-items">
                                        <p>#git</p>
                                    </li>
                                </ul>
                                <div class="projects-list-text">
                                    <p>Programming Across</p>
                                    <p>Borders: Ideas,</p>
                                    <p>Technologies, Innovations</p>
                                </div>
                                <a class="see-project" href="https://github.com/Merel1n/project-09/tree/main">See
                                    project</a>
                            </div>
                            <div class="projects-picture">
                                <picture>
                                    <source srcset="
                      ./img/images/new-people-tab-1x.jpg   1x,
                      ./img/images/new-people-tab-2x.jpg  2x
                    " width="614" height="385" media="(min-width: 768px)" />
                                    <source srcset="
                      ./img/images/new-people-mob-1x.jpg 
                      ./img/images/new-people-mob-2x.jpg  2x
                    " width="311" height="195" media="(max-width: 360px)" />
                                    <img class="projects-img" src="./img/images/new-people-2x.jpg "
                                        alt="stretching" />
                                </picture>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="scwiper-navigation">
                    <div class="projects-btn-prev"></div>
                    <div class="projects-btn-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>





















