 /* новий 1 вар */
 .container.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.about-intro-text {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  height: 500px;
  background-color: #242527;
  border-radius: 24px;
  padding: 32px;
}

.intro-text {
  text-transform: uppercase;
  color: #fafafa;
  height: 196px;
  text-align: left;
  padding: 0px 0px;
}

.highlight-red {
  color: #ed3b44;
}
.highlight-grey {
  color: rgba(250, 250, 250, 0.4);
}

.section.about-me-section {
  padding-top: 0;
  padding-bottom: 0;
}

.about-intro-img {
  width: 100%;
  border-radius: 24px;
}

.about-me-img {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

/* далі акардіон */
 
.container-accordion-swiper {
  min-width: 320px;
  margin-left: 16px;
  margin-right: 16px;
}

.accordion-container-first .ac .ac-panel .ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

  .ac .ac-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: inherit;
  border: 1px solid rgba(250, 250, 250, 0.2);
  }
 
.accordion-container-first .ac .ac-trigger {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  background-color: rgb(53, 55, 71);
}  

.accordion-container-first .ac .ac-trigger::after {
  content: '⇩'; 
} 
/* 
.accordion-container-first .icon-arrow { 
  .svg:not(:root) {
    overflow: visible;
  }
   .ac .ac-trigger::after {
    content: linear-gradient(rgba(235, 235, 245, 0.7), rgba(243, 243, 245, 0.7)), url(../img/icons/sprite.svg#icon-arrow-down);
    text-align: center;
    width: 15px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
   height: 20px;
}  
} */
.accordion-container-first .ac.is-active > .ac-header .ac-trigger::after {
  content: '⇧';
} 

.ac.is-active .ac-panel {
  background-color: rgb(53, 71, 71);
}

.accordion-container-first .ac .ac-trigger:hover {
  background-color: #6cd0ff;
} 
.ac-panel {
  height: 0;
} 
.opened.ac-panel {
  height: auto;
} 


/* це стилі свайпера та створення круга в середині якого текс зі скілами */
  .about-swiper {
  width: 100%;
  height: 130px;
  }
  .about-swiper-wrapper {
  .about-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid rgba(250, 250, 250, 0.4);
  }
  }
  .container.accordion-container {
  margin-bottom: 32px;
  }
  .about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .about-swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 260px;
  .button-next {
  display: inline-flex;
  
  }
}
  
  .about-swiper-wrapper {
  .accent-color {
  background-color: #ed3b44;
  border: none;
  }
  }
  .swiper-slide-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  text-align: center;
  }
  .about-swiper-wrapper {
  display: flex;
  align-items: center;
  }
  .button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  border-radius: 50%;
  }
  .icon-next {
  width: 28px;
  height: 28px;
  stroke: #fafafa;
  fill: none;
  transform: rotate(180deg);
  }
  .button-next:disabled .icon-next {
  stroke: #3b3b3b;
  }
  .icon-arrow {
  width: 18px;
  height: 18px;
  }
  @media screen and (min-width: 768px) {
  .accordion {
  .ac-item {
  padding: 32px 0;
  }
  }
  .accordion {
  .ac .ac-trigger {
  width: 40px;
  height: 40px;
  }
  .ac .ac-trigger:hover,
  .ac .ac-trigger:focus {
  background: rgba(255, 255, 255, 0.1);
  }
  }
  .icon-arrow {
  width: 20px;
  height: 20px;
  }
  .about-swiper {
  height: 200px;
  padding: 0;
  }
  .container.accordion-container {
  margin-bottom: 64px;
  }
  .about-swiper-wrapper {
  .about-swiper-slide {
  height: 200px;
  }
  }
  .about-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  }
  .about-swiper {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 600px;
  .button-next {
  display: inline-flex;
  }
  }
  .button-next {
  padding: 0;
  }
  .icon-next {
  width: 40px;
  height: 40px;
  }
  }
  @media screen and (min-width: 1440px){ .container.accordion-container {
  margin-bottom: 96px;
  }
  .about-panel {
  width: 612px;
  height: 100%;
  align-self: flex-end;
  }
  .ac-item {
  display: flex;
  flex-direction: column;
  padding: 32px;
  }
  .about-panel-summary {
  gap: 32px;
  }
  .about-swiper {
  width: 100%;
  height: 200px;
  padding: 0;
  }
  .button-next {
  margin-right: 32px;
  }
  .about-swiper {
  display: flex;
  align-items: center;
  gap: 72px;
  }
  .about-wrapper {
  .button-next {
  display: inline-flex;
  }
  }
}
