h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --background: #1c1d20;
  --cards: #242527;
  --main-text: #fafafa;
}

.benefits-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 32px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.benefits-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin-bottom: 32px; */
}

.benefits-card-box {
  max-width: 344px;
  padding: 24px;
  border-radius: 20px;
  background-color: var(--cards);
}

.icon-services {
  margin-bottom: 64px;
}

.benefits-cards-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--main-text);
  margin-bottom: 8px;
}
.benefits-cards-information {
  line-height: 150%;
  color: rgba(250, 250, 250, 0.6);
  max-width: 284px;
}

.benefits-order-button {
  display: inline-block;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  color: var(--main-text);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .benefits-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    max-width: 704px;
    height: 556px;
    margin-bottom: 64px;
  }

  .benefits-card-box {
    max-width: calc((100% - 16px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .benefits-container {
    display: flex;
    justify-content: space-between;
  }

  .benefits-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .benefits-cards {
    margin-left: auto;
    max-width: 680px;
    height: 556px;
  }
}
