*,
*::before,
*::after {
  box-sizing: border-box;
}

.covers-container {
  --color-background: #1c1d20;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
  height: 508px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--color-background)
    url(../img/covers.img/covers-background.png);
}

.content {
  position: relative;
  box-sizing: border-box;
  height: 508px;
  overflow: hidden;
}

.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

.marquee.visible {
  opacity: 1;
  transition: 0.5s;
}

.marquee__inner {
  display: flex;
  transform: rotate(18deg);
  margin-bottom: 25px;
}

.marquee__line1,
.marquee__line2 {
  flex-shrink: 0;
  display: flex;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.marquee__line1 {
  animation-direction: alternate;
}

.marquee__line2 {
  animation-direction: alternate-reverse;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media only screen and (min-width: 768px) {
  .covers-container {
    height: 960px;
  }

  .marque-image {
    width: 544px;
    height: 314px;
  }

  .marquee__inner {
    margin-bottom: 45px;
  }

  .marquee__line {
    margin-right: 45px;
  }
}
