.faq-logo {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  padding-bottom: 32px;
}
.faq-heder {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
}
.accordion-styl {
  padding: 0px;
}
.faq-accordion {
  .ac {
    background-color: transparent;
    border: none;
  }
  .ac-item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
  .ac .ac-trigger::after {
    display: none;
  }
  .ac .ac-panel .ac-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    background-color: rgba(28, 29, 32, 1);
  }
  .ac .ac-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: inherit;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 10px;
    width: 34px;
    height: 34px;
  }
  .icon-arrow {
    transition: transform 0.3s ease;
  }
  .is-active .icon-arrow,
  .faq-accordion-container .icon-arrow.active {
    transform: rotate(180deg);
  }
  .ac-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ac-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-panel-summary {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ac-item.active .faq-panel {
  display: block;
}

/* .container.accordion-container {
  margin-bottom: 32px;
} */

.icon-arrow {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .faq-accordion {
    .ac-item {
      padding: 32px 0;
    }
  }
  .faq-panel-summary {
    gap: 16px;
  }
  .faq-accordion {
    .ac .ac-trigger {
      width: 40px;
      height: 40px;
    }
    .ac .ac-trigger:hover,
    .ac .ac-trigger:focus {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .icon-arrow {
    width: 20px;
    height: 20px;
  }
  /* .container.accordion-container {
    margin-bottom: 64px;
  } */
}

@media screen and (min-width: 1440px) {
  /* .container.accordion-container {
    margin-bottom: 96px;
  } */
  .faq-accordion {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .faq-accordion {
    .ac .ac-header {
      margin-right: 32px;
    }
    .faq-heder-border {
      margin-left: 32px;
    }
  }

  .faq-accordion {
    .ac-border {
      border-left: 1px solid rgba(250, 250, 250, 0.2);
    }

    .ac {
      margin: 0;
    }
    .ac-item-border {
      border-top: 1px solid rgba(250, 250, 250, 0.2);
    }
  }
  .ac-item {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  .faq-panel-summary {
    gap: 32px;
  }
  .faq-margin {
    margin-left: 24px;
  }
  .faq-panel {
    width: 100%;
    align-self: flex-end;
  }
}
