.container {
  min-width: 320px;
  /* width: 100%; */
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  width: 100%;
  padding-bottom: 64px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  /* margin: 0px;
  padding: 0px; */
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
  .section {
    padding-bottom: 64px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section {
    padding-bottom: 96px;
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  .section {
    padding-bottom: 164px;
  }
}
