.hero {
  background: url(../img/img-hero/img-mob/gradient-mob-1x-min.png),
    linear-gradient(90deg, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%);
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  background-size: cover;
}

/* @media screen and (min-width: 375px) { */

.hero {
  background-image: linear-gradient
      (359deg, 1C1D20 50%, 69292D 68%, ED3B44 100%),
    url(/img/img-hero/img-mob/gradient-mob-2x-min.png);
  background-repeat: no-repeat;
}

.hero-container {
  /* width: 375px; */
  padding-top: 281px;
  padding-bottom: 32px;
  /* padding-left: 16px;
  padding-right: 16px; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: #fafafa;

  /* max-width: 343px; */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 212px;
}
.hero-list {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  /* min-width: 342px;
    min-height: 37px; */
  /* padding: 0, 17px, 0, 16px; */
}

.hero-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 37px;
  height: 37px;
  cursor: pointer;
  margin-right: 4px;
}

.hero-link-mail {
  border: 1px solid rgba(250, 250, 250, 0.2);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  border-radius: 60px;
  padding: 10px 12px;
  /* width: 178px;
  height: 37px; */
}

.hero-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

@media screen and (min-width: 365px) {
  .hero {
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
  }

  .hero-title {
    /* max-width: 632px; */
    margin-bottom: 187px;
    box-shadow: none;
    font-size: 90px;
  }
  .hero-list {
    /* margin-right: 8px; */
    justify-content: flex-end;
    /* margin-right: 32px; */
  }
  .hero-item {
    border-radius: 60px;
    padding: 18px 20px;
    width: 55px;
    height: 55px;
    margin-right: 8px;
  }
  .hero-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
  }

  .hero-link-mail {
    /* border: 1px solid rgba(250, 250, 250, 0.2); */
    border-radius: 60px;
    padding: 18px 24px;
    font-size: 16px;
    /* width: 223px;
    height: 55px; */
  }
}

@media screen and (min-width: 1440px) {
  .mini-container {
    width: 1440px;
  }

  .hero-title {
    max-width: 1084px;
    margin-bottom: 243px;
    box-shadow: none;
    font-size: 90px;
  }

  .hero-item {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
