#projects {
    position: relative;
    padding: 20px;
    background-color: #f4f4f4;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-slide h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.swiper-slide p {
    font-size: 1em;
    margin: 10px 0;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}


.swiper-button-next,
.swiper-button-prev {
    color: #007bff;
}

.swiper-button-disabled {
    color: #ccc;
}

.swiper-pagination-bullet {
    background: #007bff;
}

.swiper-pagination-bullet-active {
    background: #0056b3;
}