a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

/* +++++++++++++++++++++++++++++++++++ My Styles ++++++++++++++++++++++++++++++++ */

.footer-container {
  display: flex;
  flex-direction: column;
}
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-img-span {
  border-radius: 12px;
}

.heading-style {
  margin-top: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}
.heading-text-span {
  color: #ed3b44;
}

.footer-form {
  margin-top: 63px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
}
.footer-form-email {
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  margin-bottom: 16px;
  width: 100%;
  height: 44px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
input:focus {
  outline: none;
}

textarea {
  display: inline-block;
}

.footer-form-comments {
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  resize: none;
  outline: none;
  width: 100%;
  height: 44px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

textarea::placeholder {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

input:hover::placeholder,
input:focus::placeholder {
  color: #fafafa;
}

textarea:hover::placeholder,
textarea:focus::placeholder {
  color: #fafafa;
}

.footer-submit-button {
  cursor: pointer;
  border: none;
  background-color: #ed3b44;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: #e0373f;
  outline: none;
}

.footer-contacts {
  background-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.address-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
  /* justify-content: start; */
  align-items: flex-start;
}

.address-list-element {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
}

.footer-address-email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 37px;
}

.footer-address-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 37px;
}

/* Tablet */

@media (min-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 169px;
    position: relative;
    /* background-color: #fff; */
  }

  .footer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-image: url(../img/img-footer/footer-glass-effect-tab\ 1x.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 192dpi) {
    .footer::before {
      background-image: url(../img/img-footer/footer-glass-effect-tab\ 2x.png);
    }
  }

  .footer-container {
    position: relative;
    z-index: 1;
  }

  .footer-img-span {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }

  .heading-style {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-form {
    /* margin-top: 64px; */
    /* margin-bottom: 78px; */
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer-form-wrap {
    margin-top: 64px;
    margin-bottom: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer-form-email {
    width: 245px;
    margin-right: 32px;
    margin-bottom: 0;
  }

  .footer-form-comments {
    width: 245px;
    margin-right: 32px;
  }

  .footer-submit-button {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }

  .footer-contacts {
    font-size: 16px;
  }

  .address-list {
    gap: 8px;
  }

  .footer-address-email {
    width: 239px;
    height: 55px;
  }

  .footer-address-tel {
    width: 171px;
    height: 55px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 196px;
    padding-right: 196px;
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 169px;
  }

  .footer::before {
    width: 27%;
    background-image: url(../img/img-footer/footer-glass-effect-desk\ 1x.png);
  }

  @media (min-resolution: 192dpi) {
    .footer::before {
      background-image: url(../img/img-footer/footer-glass-effect-desk\ 2x.png);
    }
  }

  .heading-style {
    width: 542px;
    height: 146px;
    margin-top: 0px;
    font-size: 64px;
  }

  .footer-img-span {
    width: 70px;
    height: 70px;
  }

  .footer-form-email {
    width: 390px;
  }

  .footer-form-comments {
    width: 390px;
    margin-right: 86px;
  }
}
